body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
  margin-top: 0;
}

#logo {
  background: url('../images/food.jpg') no-repeat;
  width: 130px;
  height: 130px; 
  margin: 10px 15px 10px 0;
}

.navbar-brand h1{
  color: white;
  font-weight: bold;
  line-height: .75;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-brand p{
  size: .7em;
  color: black;
  margin-top: 15px;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black; 
  text-align: center;
}

